<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vin %><br>
    <%= f.collection_select :vehicle_id,Vehicle.all,:id,:vin %>
  </div>
    <div class="field" id="notes">
      <%= f.label :msrp %><br>
      <%= f.collection_select :vehicle_id,Vehicle.all,:id,:msrp %>
    </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id,Customer.all,:id,:first_name,:prompt => 'Select a Customer' %>
  </div>
  <div class="field">
    <%= f.label :salesperson_id %><br>
    <%= f.collection_select :salesperson_id,Salesperson.all,:id,:first_name, :prompt => 'Select a Salesperson' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
    <div class="field">
      <%= f.label :sold %><br>
      <%= f.check_box :status %>
    </div>
    <div class="field">
      <%= f.label :principal %><br>
      <%= f.text_field :principal %>
    </div>
    <div class="field">
      <%= f.label :int_rate %><br>
      <%= f.text_field :int_rate %>
    </div>
    <div class="field">
      <%= f.label :months %><br>
      <%= f.number_field :months %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
