<h1>Editing Quote</h1>

<%= render 'form' %>

<%= link_to 'Show', @quote %> |
<%= link_to 'Back', quotes_path %>

<h2>Amortization Schedule</h2>
<%= render html: htmlrender(@quote.price,@quote.int_rate,@quote.months).html_safe %>
