<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>VIN</th>
      <th>Customer</th>
      <th>Salesperson</th>
      <th>Price</th>
      <th>Sold</th>
      <th>Principal</th>
      <th>Interest<br>Rate (%)</th>
      <th>Months</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= Vehicle.find(quote.vehicle_id).vin %></td>
        <td><%= Customer.find(quote.customer_id).fullname %></td>
        <td><%= Salesperson.find(quote.salesperson_id).fullname %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= quote.status %></td>
        <td><%= number_to_currency(quote.principal) %></td>
        <td><%= quote.int_rate %></td>
        <td><%= quote.months %></td>
        <td><%= link_to 'Show', quote %> <%= link_to 'Edit', edit_quote_path(quote) %> <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Quote', new_quote_path %>
<br>
  <h2>Financial Summary</h2>
  <p>
  <strong>Total Gross Revenue: </strong><%= number_to_currency((Quote.where(status: true).sum(:price) + (Quote.where(status: true).sum(:price)* 0.10)) + (0.043 * (Quote.where(status: true).sum(:price) + (Quote.where(status: true).sum(:price)* 0.10)))) %>
  <br><strong>Total Net Profit: </strong><%= number_to_currency((Quote.where(status: true).sum(:price) + (Quote.where(status: true).sum(:price)* 0.10)) + (0.043 * (Quote.where(status: true).sum(:price) + (Quote.where(status: true).sum(:price)* 0.10))) - Vehicle.sum(:cost)) %>
  <br><strong>Total Sales Tax: </strong><%= number_to_currency(0.043 * (Quote.where(status: true).sum(:price) + (Quote.where(status: true).sum(:price)* 0.10)))  %>
  </p>