<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= Vehicle.find(@quote.vehicle_id).vin %>
<br>
  <strong>Customer:</strong>
  <%= Customer.find(@quote.customer_id).fullname %>
  <br>
  <strong>Salesperson:</strong>
  <%= Salesperson.find(@quote.salesperson_id).fullname %>
  <br>
  <strong>Price:</strong>
  <%= number_to_currency(@quote.price) %>
  <br>
  <strong>Sold:</strong>
  <%= @quote.status %>
  <br>
  <br>
  <strong>LOAN PARAMETERS</strong>
  <br>
  <strong>Principal:</strong>
  <%= number_to_currency(@quote.principal) %>
  <br>
  <strong>Interest Rate:</strong>
  <%= @quote.int_rate %>
  <br>
  <strong>Months:</strong>
  <%= @quote.months %>

</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>

<h2>Amortization Schedule</h2>
<%= render html: htmlrender(@quote.price,@quote.int_rate,@quote.months).html_safe %>
