<p></p>
<table>
  <td><%= link_to 'Colors', makes_path %></td>
  <td><%= link_to 'Makes', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<h1>Editing Model</h1>

<%= render 'form' %>

<%= link_to 'Show', @model %> |
<%= link_to 'Back', models_path %>
