<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', makes_path %></td>
  <td><%= link_to 'Makes', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<p>
  <strong>Make:</strong>
  <%= Make.find(@model.make_id).name %>
  <br>
  <strong>Model:</strong>
  <%= @model.name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
