<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @salesperson.first_name %>
  <br>
  <strong>Last name:</strong>
  <%= @salesperson.last_name %>
  <br>
  <strong>Address:</strong>
  <%= @salesperson.address %>
  <br>
  <strong>Phone:</strong>
  <%= @salesperson.phone %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
