<p></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<h1>Editing Make</h1>

<%= render 'form' %>

<%= link_to 'New Make', new_make_path %> |
<%= link_to 'Show', @make %> |
<%= link_to 'Back', makes_path %>
