<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<h2>Vehicle Makes</h2>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= link_to 'Show', make %> <%= link_to 'Edit', edit_make_path(make) %> <%= link_to 'Destroy', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Make', new_make_path %>