<p></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<h1>New Make</h1>

<%= render 'form' %>

<%= link_to 'Back', makes_path %>
