<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<p>
  <strong>Name:</strong>
  <%= @make.name %>
</p>

<%= link_to 'New Make', new_make_path %> |
<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
