<p></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
</table>
<h1>Editing Type</h1>

<%= render 'form' %>

<%= link_to 'New Type', new_type_path %> |
<%= link_to 'Show', @type %> |
<%= link_to 'Back', types_path %>
