<p></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
</table>
<h1>New Type</h1>

<%= render 'form' %>

<%= link_to 'Back', types_path %>
