<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
</table>
<p>
  <strong>Type:</strong>
  <%= @type.name %>
</p>

<%= link_to 'New Type', new_type_path %> |
<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
