<%= link_to 'Statuses', statuses_path %>
<h1>New Customer</h1>

<%= render 'form' %>

<%= link_to 'Back', customers_path %>

<h2>Customer Search</h2>
<%= form_tag customers_path, :method => 'get' do %>
    <p>
      Search by Name
      <br>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
