<p id="notice"><%= notice %></p>
<%= link_to 'Statuses', statuses_path %>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
<br>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
  <br>
  <strong>Address:</strong>
  <%= @customer.address %>
  <br>
  <strong>Phone:</strong>
  <%= @customer.phone %>
  <br>
  <strong>Status:</strong>
  <%= Status.find(@customer.status_id).name%>
</p>

<%= link_to 'New Customer', new_customer_path %> |
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h2>Customer Search</h2>
<%= form_tag customers_path, :method => 'get' do %>
    <p>
      Search by Name
      <br>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>