<p></p>
<table>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>

<h1>Editing Color</h1>

<%= render 'form' %>

<%= link_to 'New Color', new_color_path %> |
<%= link_to 'Show', @color %> |
<%= link_to 'Back', colors_path %>
