<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<p>
  <strong>Color:</strong>
  <%= @color.name %>
</p>

<%= link_to 'New Color', new_color_path %> |
<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
