<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br>
    <%= f.collection_select :color_id,Color.all,:id,:name,:prompt => 'Select a Color' %>
  </div>
  <div class="field">
    <%= f.label :make_id %><br>
    <%= f.collection_select :make_id,Make.all,:id,:name,:prompt => 'Select a Make' %>
  </div>
  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.collection_select :model_id,Model.all,:id,:name,:prompt => 'Select a Model' %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.collection_select :type_id,Type.all,:id,:name,:prompt => 'Select a Type' %>
  </div>
  <div class="field">
    <%= f.label :msrp %><br>
    <%= f.text_field :msrp %>
  </div>
  <div class="field">
    <%= f.label :dealer_cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
