<p id="notice"><%= notice %></p>
<table>
  <td><%= link_to 'Colors', colors_path %></td>
  <td><%= link_to 'Makes', makes_path %></td>
  <td><%= link_to 'Models', models_path %></td>
  <td><%= link_to 'Types', types_path %></td>
</table>
<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>VIN</th>
      <th>Year</th>
      <th>Color</th>
      <th>Make</th>
      <th>Model</th>
      <th>Type</th>
      <th>MSRP</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.year %></td>
        <td><%= Color.find(vehicle.color_id).name %></td>
        <td><%= Make.find(vehicle.make_id).name %></td>
        <td><%= Model.find(vehicle.model_id).name %></td>
        <td><%= Type.find(vehicle.type_id).name %></td>
        <td><%= number_to_currency(vehicle.msrp) %></td>
        <td><%= number_to_currency(vehicle.cost) %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
<%= form_tag vehicles_path, :method => 'get' do %>
    <p>
      Vehicle Search<br>
      (by Color, Model or VIN)
      <br>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
