<p id="notice"><%= notice %></p>

<p>
  <strong>VIN:</strong>
  <%= @vehicle.vin %>
<br>
  <strong>Year:</strong>
  <%= @vehicle.year %>
  <br>
  <strong>Color:</strong>
  <%= Color.find(@vehicle.color_id).name %>
  <br>
  <strong>Make:</strong>
  <%= Make.find(@vehicle.make_id).name %>
  <br>
  <strong>Model:</strong>
  <%= Model.find(@vehicle.model_id).name %>
  <br>
  <strong>Type:</strong>
  <%= Type.find(@vehicle.type_id).name %>
  <br>
  <strong>Msrp:</strong>
  <%= number_to_currency(@vehicle.msrp) %>
<br>
  <strong>Cost:</strong>
  <%= number_to_currency(@vehicle.cost) %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
