// Place all the styles related to the Amorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#amort {
    border-collapse: collapse;
}

th#amort {
  background-color: lightgray;
}

th#amort,td#amort {
  padding: 3px;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}