/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #393939;
}

div,h1,h2,p,table {
    color: white;
}

ul#navmenu {
    margin: 35px 0;
    padding: 0;
    font: 12px Verdana;
    list-style-type: none;
}

ul#navmenu li {
    display: inline;
}

ul#navmenu li a {
    font-weight: bold;
    color: white;
    background-color: #6E6E6E;
    width: 130px;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

ul#navmenu a:hover, a:active {
    background-color: #FF5A09;
}

ul#navmenu li.current a {
    border:1px solid white;
}

table {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    border: 0px solid black;
}

thead {
    background-color: orange;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border: 1px solid black;
}

th {
    background-color: #FF5A09;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border: 1px solid black;
    padding: 5px;
}

td {
    text-align: center;
    background-color: #6E6E6E;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border: 1px solid black;
    padding: 5px;
}

a:link {
    color: #FF5A09
}

a:visited {
    color: #FF9900;
}