<%= form_for(@amort) do |f| %>
  <% if @amort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amort.errors.count, "error") %> prohibited this amort from being saved:</h2>

      <ul>
      <% @amort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :principal %><br>
      <%= f.number_field :principal %>
    </div>
    <div class="field">
      <%= f.label :int_rate %><br>
      <%= f.number_field :int_rate %>
    </div>
    <div class="field">
      <%= f.label :months %><br>
      <%= f.number_field :months %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
