<p id="notice"><%= notice %></p>

<h1>Listing Amorts</h1>

<table>
  <thead>
    <tr>
      <th>Principal</th>
      <th>Interest Rate (%)</th>
      <th>Months</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amorts.each do |amort| %>
      <tr>
        <td><%= number_to_currency(amort.principal) %></td>
        <td><%= amort.int_rate %></td>
        <td><%= amort.months %></td>
        <td><%= link_to 'Show', amort %></td>
        <td><%= link_to 'Edit', edit_amort_path(amort) %></td>
        <td><%= link_to 'Destroy', amort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amort', new_amort_path %>
