<p id="notice"><%= notice %></p>

<p>
  <strong>Principal:</strong>
  <%= number_to_currency(@amort.principal) %>
  <br>
  <strong>Interest Rate (%):</strong>
  <%= @amort.int_rate %>
  <br>
  <strong>Months:</strong>
  <%= @amort.months %>
</p>
<%= link_to 'New Amort', new_amort_path %> |
<%= link_to 'Edit', edit_amort_path(@amort) %> |
<%= link_to 'Back', amorts_path %>
<h2>Amortization Schedule</h2>
<%= render html: htmlrender(@amort.principal,@amort.int_rate,@amort.months).html_safe %>
