<!DOCTYPE html>
<html>
<head>
  <title>Cis4339sp1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <h1>CAR APPLICATION</h1>
    <table>
      <tr>
     <td><%= link_to 'Customers', customers_path %></td>
     <td><%= link_to 'Employees', salespeople_path %></td>
     <td><%= link_to 'Finance', quotes_path %></td>
     <td><%= link_to 'Vehicles', vehicles_path %></td>
    </tr>
    </table>
</div>
<%= yield %>
</body>
</html>
